celera_uts_wsdl_soap/cfg/MainServer_DirectAccess__Broker.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.Vectalis.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://www.Vectalis.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.Vectalis.com/">
      <s:element name="Ping">
        <s:complexType />
      </s:element>
      <s:element name="PingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PingResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateDirectAccess">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlDocumentString" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateDirectAccessResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateDirectAccessResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllMyEntityQuotesDirectAccess">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlDocumentString" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllMyEntityQuotesDirectAccessResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllMyEntityQuotesDirectAccessResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllMyEntityQuotesDirectAccessDelta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlDocumentString" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllMyEntityQuotesDirectAccessDeltaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllMyEntityQuotesDirectAccessDeltaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllMyRepliesDirectAccess">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlDocumentString" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllMyRepliesDirectAccessResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllMyRepliesDirectAccessResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PingSoapIn">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="PingSoapOut">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateDirectAccessSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateDirectAccess" />
  </wsdl:message>
  <wsdl:message name="UpdateDirectAccessSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateDirectAccessResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllMyEntityQuotesDirectAccessSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllMyEntityQuotesDirectAccess" />
  </wsdl:message>
  <wsdl:message name="GetAllMyEntityQuotesDirectAccessSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllMyEntityQuotesDirectAccessResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllMyEntityQuotesDirectAccessDeltaSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllMyEntityQuotesDirectAccessDelta" />
  </wsdl:message>
  <wsdl:message name="GetAllMyEntityQuotesDirectAccessDeltaSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllMyEntityQuotesDirectAccessDeltaResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllMyRepliesDirectAccessSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllMyRepliesDirectAccess" />
  </wsdl:message>
  <wsdl:message name="GetAllMyRepliesDirectAccessSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllMyRepliesDirectAccessResponse" />
  </wsdl:message>
  <wsdl:portType name="B2T_DataModelSoap">
    <wsdl:operation name="Ping">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Ping Main server</wsdl:documentation>
      <wsdl:input message="tns:PingSoapIn" />
      <wsdl:output message="tns:PingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDirectAccess">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Impact the data from the DataModel for DirectAccess (Login and Logout only)</wsdl:documentation>
      <wsdl:input message="tns:UpdateDirectAccessSoapIn" />
      <wsdl:output message="tns:UpdateDirectAccessSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllMyEntityQuotesDirectAccess">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retrieve all the quotes of your company - Broker Direct Access only</wsdl:documentation>
      <wsdl:input message="tns:GetAllMyEntityQuotesDirectAccessSoapIn" />
      <wsdl:output message="tns:GetAllMyEntityQuotesDirectAccessSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllMyEntityQuotesDirectAccessDelta">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retrieve all the quotes of your company since the last call - Broker Direct Access only</wsdl:documentation>
      <wsdl:input message="tns:GetAllMyEntityQuotesDirectAccessDeltaSoapIn" />
      <wsdl:output message="tns:GetAllMyEntityQuotesDirectAccessDeltaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllMyRepliesDirectAccess">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retrieve all the replies sent to your company - Sales and Broker DirectAccess Only</wsdl:documentation>
      <wsdl:input message="tns:GetAllMyRepliesDirectAccessSoapIn" />
      <wsdl:output message="tns:GetAllMyRepliesDirectAccessSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="B2T_DataModelSoap" type="tns:B2T_DataModelSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://www.Vectalis.com/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDirectAccess">
      <soap:operation soapAction="http://www.Vectalis.com/UpdateDirectAccess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMyEntityQuotesDirectAccess">
      <soap:operation soapAction="http://www.Vectalis.com/GetAllMyEntityQuotesDirectAccess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMyEntityQuotesDirectAccessDelta">
      <soap:operation soapAction="http://www.Vectalis.com/GetAllMyEntityQuotesDirectAccessDelta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMyRepliesDirectAccess">
      <soap:operation soapAction="http://www.Vectalis.com/GetAllMyRepliesDirectAccess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="B2T_DataModelSoap12" type="tns:B2T_DataModelSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Ping">
      <soap12:operation soapAction="http://www.Vectalis.com/Ping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDirectAccess">
      <soap12:operation soapAction="http://www.Vectalis.com/UpdateDirectAccess" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMyEntityQuotesDirectAccess">
      <soap12:operation soapAction="http://www.Vectalis.com/GetAllMyEntityQuotesDirectAccess" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMyEntityQuotesDirectAccessDelta">
      <soap12:operation soapAction="http://www.Vectalis.com/GetAllMyEntityQuotesDirectAccessDelta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMyRepliesDirectAccess">
      <soap12:operation soapAction="http://www.Vectalis.com/GetAllMyRepliesDirectAccess" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="B2T_DataModel">
    <wsdl:port name="B2T_DataModelSoap" binding="tns:B2T_DataModelSoap">
      <soap:address location="http://utstestserver.vectalis.com:8080/mainserver/b2t_datamodel.asmx" />
    </wsdl:port>
    <wsdl:port name="B2T_DataModelSoap12" binding="tns:B2T_DataModelSoap12">
      <soap12:address location="http://utstestserver.vectalis.com:8080/mainserver/b2t_datamodel.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>